 .about_us{
	width: 1100px;
	height: 410px;
	margin: 95px auto 0;
}

.about_us h1,.business_model h1{
	color: #111111;
	font-size: 28px;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.about_us_title,.business_model_title{
	width: 405px;
	height: 45px;
	margin: 0 auto;
	line-height: 45px;
}

.about_us_title span{
	color: #545454;
	font-size: 18px;
	float: left;
	margin-left: 26px;
}

.business_model_title span{
	color: #545454;
	font-size: 18px;
	float: left;
	margin-left: 15px;
}

.line1{
	width: 120px;
	height: 1px;
	background: #666666;
	float: left;
	margin-top: 22px;
}

.line2{
	width: 120px;
	height: 1px;
	background: #666666;
	float: right;
	margin-top: 22px;
}

.article{
	width: 600px;
	float: left;
}

.article p{
	color: #111111;
	font-size: 14px;
	text-indent: 28px;
	line-height: 28px;
	margin-top: 20px;
}

.about_us01{
	margin-top: 20px;
	float: left;
	margin-left: 50px;
	width: 450px;
	height: 280px;
}

.about_us01 img{
	width: 100%;
	height: 100%;
}

.business_model_bk{
	width: 100%;
	height: 390px;
	margin: 30px 0;
	background: #f2f2f2;
}

.business_model{
	padding-top: 40px;
	width: 1100px;
	margin: 0 auto;
	height: 350px;
}

.about_us02{
	width: 900px;
	height: 218px;
	margin-left: 100px;
}

.about_us02 img{
	width: 100%;
	height: 100%;
}

.advof_us{
	width: 1100px;
	margin: 40px auto 130px;
}

.advof_us h1{
	color: #111111;
	font-size: 28px;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.advof_us_title{
	width: 460px;
	height: 45px;
	margin: 0 auto;
	line-height: 45px;
}

.advof_us_title span{
	color: #545454;
	font-size: 18px;
	float: left;
	margin-left: 15px;
}

.adv_box{
	margin-top: 40px;
}

.adv_box ul{
	overflow: hidden;
	clear: both;
}

.adv_box ul li{
	width: 440px;
	height: 95px;
	padding: 40px 50px 50px 50px;
	background: #f2f2f2;
	float: left;
}

.adv_box ul li:first-child img{
	float: left;
}

.adv_box ul li:first-child h3{
	color: #111111;
	font-size: 16px;
	font-weight: bold;
	float: left;
	width: 280px;
	margin-left: 50px;
	margin-top:20px;
}

.adv_box ul li:first-child p{
	color: #111111;
	font-size: 14px;
	float: left;
	margin-left: 50px;
	margin-top: 20px;
}

.adv_box ul li:nth-child(2) img{
	float: left;
}

.adv_box ul li:nth-child(2) h3{
	color: #111111;
	font-size: 16px;
	font-weight: bold;
	float: left;
	width: 280px;
	margin-left: 50px;
	margin-top:15px;
}

.adv_box ul li:nth-child(2) p{
	color: #111111;
	font-size: 14px;
	float: left;
	margin-left: 145px;
	margin-top: -37px;
}

.adv_box ul li:nth-child(3) img{
	float: left;
}

.adv_box ul li:nth-child(3) h3{
	color: #111111;
	font-size: 16px;
	font-weight: bold;
	float: left;
	width: 300px;
	margin-top: -75px;
	margin-left: 145px;
}

.adv_box ul li:nth-child(3) p{
	color: #111111;
	font-size: 14px;
	float: left;
	margin-left: 145px;
	margin-top: -32px;
}

.adv_box ul li:nth-child(4) img{
	margin-top: 7px;
	float: left;
}

.adv_box ul li:nth-child(4) h3{
	color: #111111;
	font-size: 16px;
	font-weight: bold;
	float: left;
	width: 300px;
	margin-top: -85px;
	margin-left: 145px;
}

.adv_box ul li:nth-child(4) p{
	color: #111111;
	font-size: 14px;
	float: left;
	margin-left: 145px;
	margin-top: -42px;
}