

.register_min{
	  width:100%;
	background: url('../images/login_bg.jpg') no-repeat;
	overflow: hidden;
	position: relative;
}


.register_pwd{
	  width:360px;
	  height:326px;
	  background: #fff;
	  padding:44px 120px;
	  position: absolute;
	  top:50%;
	  left:50%;
}

.psw_rage h6,.psw_rege2 h6,.psw_tips h6{
      font-size: 18px;
      font-weight: 600;
      color:#111;
      text-align: center;
}

.psw_rage ul li{
	display: inline-block;
	position: relative;
}

.psw_rage ul li input{
	  margin-top: 28px;
	  height:48px;
	  line-height: 48px;
	  font-size: 14px;
	  color:#666;
	  padding-left: 20px;
      width:340px;
      border:1px solid #e6e6e6;
}

.psw_rage ul li span{
	 font-size: 14px;
	 color:#666;
	 position: absolute;
	right: -53px;
    top: 45px;
    cursor: pointer;
}

.psw_rage ul li .ipt_txt{
	  width:215px;
	  margin-right: 10px;
}

.psw_rage ul li img,.psw_rage ul li .getcode{
	 width:112px;
	 height:50px;
	 line-height: 50px;
	 text-align: center;
	 padding: 0;
	 cursor: pointer;
	 color:#fff;
	 background: #ff9900;
	 float: right;
	 margin-top:28px;
}

.psw_rage ul li img,.psw_rage ul li  .dealer_rt{
	background: #e6e6e6;
	color: #666666;
}


.psw_rage ul li input[type="button"]{
	  background: #ff9900;
	  border:none;
	  font-size: 18px;
	  color:#fff;
	  letter-spacing: 6px;
	  cursor: pointer;
	  width: 360px;
}

input{
	outline: none;
}

.psw_rage ul li input[type="button"]:hover{
	background: #fcaa30;
}


.phonetips,.picyzmtips,.mathyzmtips{
	   font-size: 14px;
	   color: #ff9900;
	    padding-left: 25px;
        margin-left: 10px;
	   position: absolute;
	   top:82px;
	   left:0;
	   background: url('../img/error_icon.jpg') no-repeat;
	   display: none;
}



.psw_rege2 ul{
	  display: inline-block;
}

.psw_rege2 ul li input{
	  width:340px;
	  height:50px;
	  line-height: 50px;
	  border:1px solid #e6e6e6;
	  font-size: 14px;
	  color:#666;
	  margin-top:28px ;
      padding-left: 20px;
}

.psw_rege2 ul li input[type="button"]{
	  background: #ff9900;
	  border:none;
	  font-size: 18px;
	  color:#fff;
	  letter-spacing: 6px;
	  cursor: pointer;
	  width: 360px; 
	  padding-left: 0;
	  margin-top: 72px;
}




.psw_rege2 ul li {
	 position: relative;
}


.newpsw_tips,.newpsw_tips2{
	 font-size: 14px;
	   color: #ff9900;
	    padding-left: 25px;
        margin-left: 10px;
	   position: absolute;
	   top:84px;
	   left:0;
	   background: url('../img/error_icon.jpg') no-repeat;
	   display: none;
} 


.psw_tips .tips{
	 height:130px;
	 padding-top: 70px;
}
.psw_tips .tips i{
       width:61px;
       height:61px;
       background: url('../img/success_icon.png') no-repeat;
       display: inline-block;
       float: left;
}


.psw_tips .tips p{
	 font-size: 16px;
	 color:#7f7f7f;
	 margin: 20px 0 0 83px;
}


.psw_tips a{
	 width:360px;
	 height:50px;
	 line-height: 50px;
	 font-size: 18px;
	 color:#fff;
     background: #ff9900;
     text-align: center;
     display: inline-block;
     margin-top: 20px;
}


.psw_tips a:hover{
	 background: #fdae39;
}


.psw_rege2,.psw_tips{display: none;}





