 .top{
      width: 1080px;
      height: 60px;
      padding: 20px 0 20px 20px;
      background: #f2f2f2;
      margin: 40px auto 0;
    }

    .top img{
      float: left;
    }

    .top span{
      float: left;
      margin-left: 20px;
      height: 60px;
      line-height: 60px;
      color: #ff9900;
      font-size: 20px;
      font-weight: bold;
    }

    .center{
      margin: 30px auto 0;
      height: 60px;
      line-height: 60px;
      padding-left: 20px;
      width: 1080px;
      border-bottom: 1px solid #e6e6e6;
    }

    .center span{
      color: #111111;
      font-size: 16px;
      font-weight: bold;
    }

    .new_box{
      width:1100px;
      margin:30px auto 210px;
      overflow: hidden;
      clear: both;
    }

    .new_box li{
      display: block;
      width: 100%;
      height: 50px;
      margin-top: 30px;
    }

    .lt{
      float: left;
      width: 337px;
      height: 50px;
      line-height: 50px;
      text-align: right;
      color: #111111;
      font-size: 14px;
    }

    .rt{
      float: left;
      width: 338px;
      margin-left: 40px;
      height: 48px;
      line-height: 50px;
      padding-left: 20px;
      color: #111111;
      font-size: 14px;
      border: 1px solid #e6e6e6;
    }

    .submit{
      width: 360px;
      padding-left: 8px;
      height: 50px;
      background: #ff9900;
      text-align: center;
      color: #fff;
      font-size: 16px;
      border: none;
      cursor: pointer;
      float: left;
      margin-left: 377px;
      letter-spacing: 5px;
    }
    
    span.error,.mobile-error{
    background: rgba(0, 0, 0, 0) url(../images/error.jpg) no-repeat scroll left center;
    color: #91191e;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
    padding-left: 20px;
    white-space: nowrap;
}

span.valid {
    background: rgba(0, 0, 0, 0) url(../images/sucess.jpg) no-repeat scroll left center;
    color: #91191e;
    margin-left: 14px;
    padding-left: 20px;
    line-height: 50px;
    height: 50px;
}

.boom{
	background: #000;
	opacity: 0.3;
	position:fixed;
	z-index: 9;
	top: 0;
	left: 0;
	display:none;
}

.Errors{
	width: 600px;
	height: 380px;
	z-index: 10;
	background: #ffffff;
	position:fixed;
	top: 50%;
	left: 50%;
	margin-top: -190px;
	margin-left: -300px;
	text-align: center;
	display:none;
}

.Errors h4{
	color: #111111;
	font-size: 24px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

.Errors span{
	display: block;
	color: #111111;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin-top: 90px;
	height: 20px;
	line-height: 20px;
}

.delBtn{
	width: 360px;
	height: 50px;
	margin-top: 110px;
	margin-left: 120px;
	text-align: center;
	line-height: 50px;
	background: #ff9900;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}