<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buyauto.mapper.cms.CmsNewsMapper" >
  <resultMap id="BaseResultMap" type="com.buyauto.entity.cms.CmsNews" >
    <id column="id" property="newsId" jdbcType="BIGINT" />
    <result column="is_top" property="isTop" jdbcType="INTEGER" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="is_hot" property="isHot" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="onlinetime" property="onlinetime" jdbcType="TIMESTAMP" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="oper_id" property="operId" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  
   <resultMap id="CmsNewsPojo" type="com.buyauto.dao.cms.CmsNewsPojo" >
    <id column="id" property="newsId" jdbcType="BIGINT" />
    <result column="is_top" property="isTop" jdbcType="INTEGER" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="is_hot" property="isHot" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="onlinetime" property="onlinetime" jdbcType="TIMESTAMP" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="oper_id" property="operId" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="NewsPojo" type="com.buyauto.dao.cms.NewsPojo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="onlinetime" property="onlinetime" jdbcType="TIMESTAMP" />
    <result column="author" property="author" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <resultMap id="ResultMapWithBLOBs" type="com.buyauto.entity.cms.CmsNews" extends="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    id, is_top, order_num, is_hot, type, title, introduction, pic, onlinetime, author, 
    status, update_time, create_time, oper_id, version
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cms_news
    where id = #{newsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from cms_news
    where id = #{newsId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.buyauto.entity.cms.CmsNews" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into cms_news (id, is_top, order_num, 
      is_hot, type, title, 
      introduction, pic, onlinetime, 
      author, status, update_time, 
      create_time, oper_id, version, 
      content)
    values (#{newsId,jdbcType=BIGINT}, #{isTop,jdbcType=INTEGER}, #{orderNum,jdbcType=INTEGER}, 
      #{isHot,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{introduction,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, #{onlinetime,jdbcType=TIMESTAMP}, 
      #{author,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{operId,jdbcType=BIGINT}, #{version,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.buyauto.entity.cms.CmsNews" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into cms_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        id,
      </if>
      <if test="isTop != null" >
        is_top,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="isHot != null" >
        is_hot,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="onlinetime != null" >
        onlinetime,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="operId != null" >
        oper_id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        #{newsId,jdbcType=BIGINT},
      </if>
      <if test="isTop != null" >
        #{isTop,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="isHot != null" >
        #{isHot,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="onlinetime != null" >
        #{onlinetime,jdbcType=TIMESTAMP},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operId != null" >
        #{operId,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.buyauto.entity.cms.CmsNews" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update cms_news
    <set >
      <if test="isTop != null" >
        is_top = #{isTop,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="isHot != null" >
        is_hot = #{isHot,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="onlinetime != null" >
        onlinetime = #{onlinetime,jdbcType=TIMESTAMP},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operId != null" >
        oper_id = #{operId,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{newsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.buyauto.entity.cms.CmsNews" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update cms_news
    set is_top = #{isTop,jdbcType=INTEGER},
      order_num = #{orderNum,jdbcType=INTEGER},
      is_hot = #{isHot,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      onlinetime = #{onlinetime,jdbcType=TIMESTAMP},
      author = #{author,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      oper_id = #{operId,jdbcType=BIGINT},
      version = #{version,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{newsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.buyauto.entity.cms.CmsNews" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update cms_news
    set is_top = #{isTop,jdbcType=INTEGER},
      order_num = #{orderNum,jdbcType=INTEGER},
      is_hot = #{isHot,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      onlinetime = #{onlinetime,jdbcType=TIMESTAMP},
      author = #{author,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      oper_id = #{operId,jdbcType=BIGINT},
      version = #{version,jdbcType=INTEGER}
    where id = #{newsId,jdbcType=BIGINT}
  </update>
  <!-- 查询新闻列表 -->
  <select id="selectCmsNewsList" resultMap="CmsNewsPojo">
  	SELECT
  	<include refid="Base_Column_List"></include>
  	FROM
  	    cms_news
  	WHERE 1=1
  	<if test="state != null">
		AND cms_news.status = #{state}
	</if>
	<if test="title != null" >
        AND cms_news.title LIKE CONCAT ('%',#{title},'%')	
    </if>
	<if test="newsType != null" >
        AND cms_news.type = #{newsType}	
    </if>
	<if test="startTime != null">
		AND cms_news.create_time &gt;=#{startTime}
	</if>
	<if test="endTime != null">
		AND cms_news.create_time &lt;=#{endTime}
	</if>
  	ORDER BY
  		cms_news.order_num ASC , cms_news.update_time DESC
  	limit
		#{startNumber},#{endNumber}
  </select>
  <!-- 查询新闻总数 -->
  <select id="selectNewsCount" resultType="int">
  	SELECT
		count(cms_news.id)
	FROM
		cms_news
	WHERE 1=1
  	<if test="state != null">
		AND cms_news.status = #{state}
	</if>
	<if test="title != null" >
        AND cms_news.title LIKE  CONCAT ('%',#{title},'%')
    </if>
    <if test="newsType != null" >
        AND cms_news.type = #{newsType}	
    </if>
	<if test="startTime != null">
		AND cms_news.create_time &gt;=#{startTime}
	</if>
	<if test="endTime != null">
		AND cms_news.create_time &lt;=#{endTime}
	</if>
  </select>
  <!-- 根据新闻标题查询新闻内容 -->
  <select id="selectCmsNewsByTitle" resultMap="ResultMapWithBLOBs">
  	SELECT
		<include refid="Base_Column_List"></include> 
	FROM
		cms_news
	WHERE 1=1
  	<if test="title != null" >
        AND cms_news.title = #{title,jdbcType=VARCHAR}
    </if>
  </select>
  
  <select id="queryCmsNewsList" resultMap="ResultMapWithBLOBs">
  	SELECT
		<include refid="Base_Column_List"></include> 
		FROM
		cms_news
		WHERE
		 type = #{news}
		 AND
		 status = 1
		 and
		 is_hot =1
		ORDER BY is_top DESC,order_num ASC,update_time DESC
		LIMIT 6
  </select>
  
  <!-- 根据类型分页查询‘新闻资讯公告’列表-前台 -->
   <select id="getNewsByType" resultMap="NewsPojo">
  	SELECT 
  		<include refid="Base_Column_List"></include> 
  	FROM cms_news 
  	WHERE TYPE = #{type} AND STATUS = 1
  	ORDER BY is_top DESC,order_num ASC,onlinetime  DESC 
  	LIMIT #{pageStartNumber},#{pageEndNumber}
  </select>
  <!-- 根据类型查询数量-前台 -->
  <select id="getNewsCountByType" resultType="java.lang.Integer">
  	SELECT 
  		COUNT(1)
  	FROM cms_news 
  	WHERE TYPE = #{type} AND STATUS = 1
  </select>
  
  <!-- 根据新闻类型 - 查找新闻热点条数   -->
  <select id="findNewsHot" resultType="java.lang.Integer">
  	SELECT 
  		COUNT(1)
  	FROM cms_news 
  	WHERE TYPE = #{type} AND is_hot = 1
  </select>
  
</mapper>