/* function */
/*Ö÷ÌåÐÅÏ¢*/
.g-bd .productInfo .container .m-content .det-mn {
    margin: 20px 0 20px;
    position: relative
}
.con_box{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.con_box .m-del{
	display:none;
	width:1200px;
    height:606px;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(0, 0, 0, 0.4); 
	filter:Alpha(opacity=40);
	z-index:100;
}
.con_box .m-del .m-inner{
	width:540px;
	height:320px;
	margin:7% 25%;
	background:url(../../res/images/website/delBg.png) no-repeat;
}
.con_box .m-del .m-inner p{
	padding-top:100px;
	text-align:center;
	color:#222;
	font-size:20px;
}
.con_box .m-del .m-inner a{
	text-align:center;
	display:inline-block;
}
.con_box .m-inner a.img-cer{
	margin:30px 87px;
}
.con_box .m-inner a.img-can{
	margin:30px -45px;
}

.con_box .con_sd{
	overflow: hidden;
}
.con_box .con_sd ul{
	height: 30px;
}

.con_box .con_sd ul li{
	float: left;
	width: 70px;
	text-align: center;
	font-size: 14px;
	color: #222;
	height: 14px;
	line-height: 14px;
	border-left: 1px solid #5d5d5d;
	font-weight: 700;
	cursor: pointer;;
}
.con_box .con_sd ul li:first-child{
	border-left: 0px;
}
.con_box .con_sd ul li.active{
	color: #3387fc;
}
.con_box .con_lst{
	width: 1198px;
	margin:0 0 80px;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	position: relative;
}
.con_box .con_lst a.top{
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 10;
}
.con_box .con_lst a.left{
	position:absolute;
	right:80px;
	top:0px;
}
.con_box .con_lst a.tops{
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 10;
}
.con_box .con_lst a.save{
	position: absolute;;
	right: 0px;
	top: 0px;
	display: none;
}
.con_box .con_lst .con_lst_lf,.con_box .con_lst .con_lst_rf{
	float: left;
	width: 596px;
	margin: 15px 0;
}
.con_box .con_lst div.con_lst_lf{
	padding-left: 100px;
	width: 496px;
}
.con_box .con_lst div ul li{
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
}
.con_box .con_lst div ul li span{
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #222;
	text-align: right;
}
.con_box .con_lst div ul li input{
	height: 26px;
	line-height: 26px;
	width: 300px;
	text-indent: .5em;
}
.con_box .con_lst div ul li.file input{
	width: 240px;
}
.con_box .con_lst div ul li.file a{
	display: inline-block;
	width: 62px;
	height: 28px;
	padding:0 0 2px;
	line-height: 30px;
	text-align: center;
	margin-left: -5px;
	font-size: 14px;
	color: #fff;
	background: #91befd;
}
.con_box .con_lst div ul li.code a{
	display: inline-block;
	width: 85px;
	font-size: 14px;
	color: #fff;
	background: #91befd;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-left: -89px;
}
.con_box .con_lst div ul li.text_area{
	height: auto;
}
.con_box .con_lst div ul li.text_area i{
	display: inline-block;
	width: 304px;
	height: 150px;
	margin-top: 7px;
	border: 1px solid #999;
	overflow: hidden;
}
.con_box .con_lst div ul li.con_dld{
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.con_box .con_lst div ul li.con_dld span{
	height: auto;
}
.con_box .con_lst div ul li.con_dld a{
	margin-right: 10px;
	color: #1487e9;
	font-size: 14px;

}
.con_box .con_lst div ul li.con_dld a.way{
	width: auto;
	color: #222;
}
.g-doc a.btn{
	margin-left:800px;
	margin-bottom:40px;
	padding:12px 90px;
	letter-spacing:3px;
	text-align: center;
	color:#fff;
	font-size: 16px;
	font-weight: bold;
	background:url(../../res/images/website/blue.png) no-repeat;
	border-radius: 2px;
	display:inline-block;
}
.con_box .con_lst .con_punish{
	float: left;
	width: 797px;
	margin:0 0 0 205px;
	position: relative;
	padding-bottom: 120px;
}
.con_box .con_lst .con_punish p{
	width: 100%;
	font-size: 14px;
	color: #222;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
}
.con_box .con_lst .con_punish textarea{
	width: 100%;
	height: 140px;
	padding:5px;
	line-height: 22px;
	text-indent: .5em;
	overflow-y:scroll;
	overflow-x:hidden;
}
.con_box .con_lst .con_punish button{
	 width: 224px;
	 height: 48px;
	 margin-bottom:20px;
	 line-height: 40px;
	 background:url(../../res/images/website/blue.png) no-repeat;
	 color: #fff;
	 font-size: 14px;
	 text-align: center;
	 border: none;
	 border-radius: 3px;
	 position: absolute;
	 left: 45%;
	 bottom: 20px;
	 margin-left: -75px;
}
.con_box .conceal{
	display: none;
}
.con_box .active{
	display: block;
}
.con_box .con_info{
	width: 1200px;
	position:relative;
}
.con_box .con_info .m-del{
	display:none;
	width:1200px;
    min-height:650px;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(0, 0, 0, 0.4); 
	filter:Alpha(opacity=40);
	z-index:100;
}
.con_box .con_info .m-del .m-inner{
	width:540px;
	height:320px;
	margin:5% 26%;
	background:url(../../res/images/website/delBg.png) no-repeat;
}
.con_box .con_info .m-del .m-inner p{
	padding-top:100px;
	text-align:center;
	color:#222;
	font-size:20px;
}
.con_box .con_info .m-del .m-inner a{
	text-align:center;
	display:inline-block;
}
.con_box .con_info .m-inner a.img-cer{
	margin:30px 87px;
}
.con_box .con_info .m-inner a.img-can{
	margin:30px -45px;
}
.con_box .con_info .con_con{
	width: 100%;
	overflow: hidden;
	max-height: 472px;
	overflow-y:auto;
}
.con_box .con_info .head_portrait{
	width: 160px;
	height: 200px;
	float: left;
	margin-right: 20px;
}
.con_box .con_info .head_portrait img{
	width: 160px;
	height: 200px;
}
.con_box .con_info .brief_introduction{
	width: 900px;
	height: auto;
	float: left;
}
.con_box .con_info .brief_introduction h2{
	font-size: 16px;
	margin-bottom: 10px;
}
.con_box .con_info .brief_introduction ul{
	width: 350px;
	overflow: hidden;
}
.con_box .con_info .brief_introduction ul li{
	width: 170px;
	line-height: 24px;
	float: left;
	font-size: 14px;
}
.con_box .con_info .brief_introduction p{
	font-size: 14px;
	color: #222;
	line-height: 28px;
	margin-top: 12px;
}
.con_box .con_info .brief_introduction .str{
	display: none;

}.con_box .con_info .brief_introduction p a{
	font-size: 14px;
	color: #247efc;
}
.con_box .con_info .con_ct{
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: 15px 0;
}
.con_box .con_info .con_ct .delete{
	position: absolute;
	top: 0;
	right: 90px;
	cursor: pointer;
	display: none;
}
.con_box .con_info .con_ct .alter{
	position: absolute;
	top: 0;
	right: 15px;
	cursor: pointer;
	display: none;
}
.con_box .con_info .cur .delete,.con_box .con_info .cur .alter{
	display: block;
}
.con_box .con_info .cur{
	background: #f8f7f7;
}
.con_box .con_amend{
	width: 1200px;
	height: auto;
	overflow: hidden;
	position: relative;
	margin-top: 40px;
	margin-bottom: 20px;
}
.con_box .con_amend .save{
	position: absolute;
	right: 32px;
	top: 0;
}

.con_box .con_amend .uploading{
	width: 160px;
	height: 186px;
	border: 1px solid #ccc;
	float: left;
	margin-right: 20px;
	position: relative;
}
.con_box .con_amend .duplication{
	width: 986px;
	overflow: hidden;
	float: right;
}
.con_box .con_amend .duplication ul{
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}
.con_box .con_amend .duplication ul li{
	float: left;
	width: 25%;
}
.con_box .con_amend .duplication ul li.list1{
	text-align:right;
}
.con_box .con_amend .duplication ul li span{
	display: inline-block;
	width: auto;
	height: 30px;
	line-height: 30px;
	text-align: right;
	font-size: 14px;
	color: #222;
}
.con_box .con_amend .duplication ul li input{
	width: 182px;
	height: 26px;
	line-height: 26px;
	text-indent: .5em;
}
.con_box .con_amend .duplication ul li input.record{
	width:18px;
	height:12px;
	margin:0 0 0 20px; 
}
.con_box .con_amend .duplication textarea{
	width: 983px;
	height: 106px;
	line-height: 22px;
	font-size: 14px;
	text-indent: .5em;
}
.con_box .con_amend .duplication textarea.bd_large{
	height: 45px;
	margin-top: 10px;
}
.con_box .con_amend .duplication textarea.bd_large:first-child{
	margin-top: 0px;
}
.con_box .con_info .inside_story{
	width: 980px;
	height: auto;
	float: left;
}
.con_box .con_info .inside_story p span.undergo{
	font-size: 14px;
	color: #2c81ff;
	font-weight: 700;
}
.con_box .con_info .inside_story p span.str1,.con_box .con_info .inside_story p span.str2{
	display: none;
}
.con_box .con_amend .staff_save{
	right: 0px;
}
.con_box .con_amend .staff_case{
	width: 1200px;
}
.con_box .con_amend .staff_case ul li{
	width: 100%;
}
.con_box .con_amend .staff_case ul li span{
	float: left;
	width: 112px;
	text-align: right;
}
.con_box .con_amend .staff_case textarea{
	width: 1086px;
}
.con_box .status_change{
	margin-top: 10px;
}
.con_box .status_change .staff_case ul li input,.con_box .status_change .staff_case ul li textarea{
	margin-bottom: 10px;
	text-indent: .5em;
	font-size: 14px;
}
.con_box .status_change .staff_case ul li input{
	height: 26px;
	width: 200px;
	line-height: 26px;
}
.con_box .status_change .staff_case ul li span{
	font-weight: 700;
}
.g-bd .productInfo .container .m-content .det-mn .infoType{
	padding-bottom: 0px;
}
.btn_preservation{
	width: 150px;
    height: 40px;
    line-height: 40px;
    background: #247efc;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border: none;
    border-radius: 3px;
    margin-left: 525px;
    margin-bottom: 50px;
}
/*ÒµÎñÐÅÏ¢*/
.con_box .con_lst .con_bd{
	width: 100%;
	overflow: hidden;
	margin: 0;
}
.con_box .con_lst .con_bd ul li{
	width: 100%;
	height: auto;
	float: none;
	overflow: hidden;
	border-top: 1px solid #e5e5e5;
	margin: 0px;
}
.con_box .con_lst .con_bd ul li:first-child{
	border-top: none;
}
.con_box .con_lst .con_bd  .con_bd_lf{
	width: 260px;
	height: 110px;
	line-height: 110px;
	text-align: center;
	font-size: 14px;
	color: #797979;
	background: #f8f7f7;
	float: left;
	margin: 0;
	border-right: 1px solid #e5e5e5
}
.con_box .con_lst .con_bd  .con_bd_rf{
	float: left;
	width: 900px;
	height: 90px;
	margin: 0;
	padding-left: 30px;
	padding-top: 20px;
}
.con_box .con_lst .con_bd  .con_bd_rf p{
	height:40px;
	line-height: 40px;
	font-size: 14px;
	color: #222;
}
.con_box .con_lst .con_bd  .con_bd_rf span{
	width: auto;
}
.con_box .con_lst .con_bd  .con_bd_rf input{
	width: 95px;
	display: none;
}
.con_box .con_lst .con_bd  .single{
	padding-top:0px;
}
.con_box .con_lst .con_bd  .single p{
	line-height: 110px;
}
.con_box .con_lst_business{
	margin-bottom: 100px;
}
/*²ÆÎñÐÅÏ¢*/
.con_box .con_lst .con_bd_tt{
	width:270px;
	height: 330px;
	margin: 0;
	text-align: center;
	float: left;
}
.con_box .con_lst .con_bd_tab{
	width:800px;
	height:300px;
	margin: 0;
	text-align: center;
	float: left;
}
.con_box .con_lst .con_bd_tab ul{
	width:800px;
	padding-left:10px;
}
.con_box .con_lst .con_bd_tt{
	border-right: 1px solid #e5e5e5;
	overflow-y:scroll;
	overflow-x:hidden;
}
.con_box .con_lst .con_bd_tt h2,.con_box .con_lst .con_bd_tab h2{
	font-size: 15px;
	color: #222;
	line-height: 60px;
}
.con_box .con_lst .con_bd_tt ul li{
	line-height: 30px;
	height: 30px;
	padding:0 10px;
	font-size: 14px;
	cursor: pointer;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.con_box .con_lst .con_bd_tt ul li.active{
	color: #418ffc;
}
.con_box .con_lst .con_bd_tab ul li{
	height: 300px;
	margin-left:40px;
	text-align:left;
	overflow: hidden;
	display: none;
}
.con_box .con_lst .con_bd_tab ul li.active{
	display: block;
}
.con_box .con_lst .con_bd_tab div{
	width: 100%;
	float: none;
	margin: 0px;
	height: 30px;
	line-height: 30px;
}
.con_box .con_lst .con_bd_tab div span{
	width:auto;
}
.con_box .con_lst .con_bd_tab div p{
	font-size:14px;
}
.con_box .con_lst .con_bd_tab div a{
	color: #3387fc;
	font-size: 14px;
	text-decoration: underline;
	text-decoration-color: #c8dffe;
}
.con_box .ct_custom{
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
	position: relative;
	padding-bottom:0;
}
.con_box .ct_custom a.btn{
	width: 224px;
	height: 48px;
	margin-top:30px;
	margin-left:500px;
	padding:12px 5px;
    letter-spacing: 3px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background:url(../../res/images/website/blue.png) no-repeat;
    border-radius: 2px;
}
.con_box .ct_custom ul{
	width: 1000px;
	
	overflow: hidden;
}
.con_box .ct_custom ul li{
	width: 400px;
	float: left;
	height: auto;
	margin-bottom: 15px;
}
.con_box .ct_custom ul li span{
	font-size: 14px;
	color: #222;
	width: auto;
	display: inline-block;
	height: 30px;
	line-height: 30px;
}
.con_box .ct_custom ul li input{
	width: 210px;
	height: 26px;
	line-height: 26px;
	text-indent: .5em;
}
.con_box .ct_custom ul li.file input{
	width: 150px;
}
.con_box .ct_custom ul li.file a{
	display: inline-block;
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #91befd;
	color: #fff;
	font-size: 14px;
	margin-left: -5px;
}
.con_box .ct_custom ul li select{
	width: 214px;
	height: 30px;
	line-height: 30px;
}
.con_box .ct_custom ul li.file p{
	font-size: 12px;
	color: #bdbcbc;
	margin-left: 72px;
	line-height: 26px;
}
/*ÆäËûÐÅÏ¢*/
.con_box .con_lst .con_lst_else_tb{
	float: left;
	width: 560px;
	margin: 15px 0 40px 30px;
}
.con_box .con_lst .con_lst_else_tb li{
	width: 100%;
	height: auto;
	margin-top: 10px;
}
.con_box .con_lst .con_lst_else_tb li p{
	width: 100%;
	text-align: left;
	font-size: 14px;
	color: #222;
	font-weight: 700;
	line-height: 26px;
}
.con_box .con_lst .con_lst_else_tb li textarea{
	width: 535px;
	height: 100px;
}
.con_box .con_lst .con_lst_else_tb li input{
	width: 296px;
	height: 26px;
}
.con_box .con_lst .con_lst_else_tb li a{
	display: inline-block;
	width: 60px;
	height: 30px;
	background: #91befd;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	margin-left: -1px;
}
.con_box .con_lst_else{
	margin-bottom: 60px;
}
.con_box .con_lst .con_lst_else_tb li .con_tb_file{
	height: 30px;
	overflow: hidden;
	width: 100%;
	margin: 0px;
}
.con_box .con_lst .con_lst_else_tb li .con_tb_file input,.con_box .con_lst .con_lst_else_tb li .con_tb_file a{
	float: left;
}
/*»áÔ±»ù±¾ÐÅÏ¢*/
.con_box .maintance{
	margin-bottom: 60px;
}
.con_box .m-header{
	margin: 30px 0 10px 0;
}
.con_box .maintance div.con_lst_lf{
	padding-left: 20px;
}
.con_box .maintance div.con_lst_lf h2{
	font-size: 16px;
	padding-left: 15px;
	border-left: 10px solid #247efc;
}
.con_box .maintance div.con_lst_rf{
	margin-top: 79px;
	width: 650px;
}
.con_box .maintance div ul li span{
	font-weight: 700;
}
.con_box .maintance div.con_lst_rf .file i{
	color: #bfbfbf;
	margin-left: 10px;
}
.con_box .maintance div.sup_info{
	width: 100%;
}
.con_box .maintance div.sup_info li{
	float: left;
	width: 500px;
	margin-top: 15px;
}
.con_box .maintance div.sup_info li span{
	width: 135px;
}
.con_box .maintance div.sup_info li i{
	font-size: 14px;
	color: #666;
}
.con_box .maintance div.btn{
	width: 340px;
	margin: 0 auto;
	float: none;
	overflow: hidden;
	margin-bottom: 50px;
}
.con_box .maintance div.btn button{
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	background: #247efc;
	border: 0px;
	border-radius: 3px;
	margin-right: 20px;
	float: left;
	margin-top: 20px;
}
.add_topicture{
	position:absolute;
	left:0px;
	bottom:112px;
}
.add_topicture a{
	display:inline-block;
	width:160px;
	height:189px;
	background:url(../images/website/upload.jpg) no-repeat;
	background-size:160px 186px;
	border:1px solid #ccc;
}
.add_topicture a #SWFUpload_4,.add_topicture a #SWFUpload_5,.add_topicture a #upYyzzUploadBtn1,.add_topicture a #upYyzzUploadBtn2,.add_topicture a .uploadifybox{
	width:162px !important;
	height: 192px !important;
	display: inline-block;
	z-index:999 !important;
	right:0px !important;
	left:-2px !important;
	cursor: pointer;
}
#preview,#preview1{
	width:160px;
	height:200px;
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:112px;
	background:#fff;
	z-index:999;
	display:block;
	text-align:center;
	border:1px solid #ccc;
}
#preview img,#preview1 img{
	width:100%;
	height:100%;
}
.close_toppicture{
	width:32px;
	height:32px;
	position:absolute;
	left:125px;
	bottom:325px;
	z-index:9999;
	cursor:pointer;
	display:none;
}
.con_box .con_lst .con_lst_else_tb li .load a{
	width:auto;
	margin-right:10px;
	font-size:14px;
	color:#1487e9;
	background:none;
	display:inline-block;
}
