<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buyauto.mapper.orders.TOrdersDaoMapper" >
  
  <resultMap id="orderDaoResultMap" type="com.buyauto.dao.orders.TOrdersDao" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="car_id" property="carId" jdbcType="BIGINT" />
    <result column="configure" property="configure" jdbcType="VARCHAR" />
    <result column="configure_price" property="configurePrice" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="take_location" property="takeLocation" jdbcType="VARCHAR" />
    <result column="deliver_time" property="deliverTime" jdbcType="VARCHAR" />
    <result column="customer" property="customer" jdbcType="VARCHAR" />
    <result column="customer_tel" property="customerTel" jdbcType="VARCHAR" />
    <result column="deposit" property="deposit" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="old_status" property="oldStatus" jdbcType="INTEGER" />
    <result column="pay_status" property="payStatus" jdbcType="INTEGER" />
    <result column="cancel_reason" property="cancelReason" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="resubmit" property="resubmit" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="take_way" property="takeWay" jdbcType="INTEGER" />
    <result column="complete_time" property="completeTime" jdbcType="TIMESTAMP" />
    <result column="logistics_info" property="logisticsInfo" jdbcType="VARCHAR" />
    <result column="premiums" property="premiums" jdbcType="DECIMAL" />
    <result column="car_price" property="carPrice" jdbcType="DECIMAL" />
    <result column="supplier_id" property="supplierId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    id, user_id, company_id, product_id, car_id, configure, configure_price, amount, 
    take_location, deliver_time, customer, customer_tel, deposit, status, old_status, 
    pay_status, cancel_reason, message, create_date, update_date, resubmit, count, version, 
    take_way, complete_time, logistics_info, premiums, car_price, supplier_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="orderDaoResultMap" parameterType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from t_orders
    where id = #{id,jdbcType=BIGINT}
  </select>
  <!-- 后台 -->
  <!-- 查询订单列表 -->
  <select id="selectordersList" resultMap="orderDaoResultMap">
  	SELECT
  	<include refid="Base_Column_List"></include>
  	FROM
  	    t_orders
  	WHERE 1=1
  	<if test="userId != null and userId != ''">
		AND t_orders.user_id = #{userId}
	</if>
	<if test="companyId != null">
		AND t_orders.company_id = #{companyId}
	</if>
	<if test="orderId != null and orderId != ''">
		AND t_orders.id like CONCAT ('%',#{orderId},'%')
	</if>
	
  	<if test="state != null">
		AND t_orders.status = #{state}
	</if>
	<if test="startTime != null">
		AND t_orders.update_date &gt;=#{startTime}
	</if>
	<if test="endTime != null">
		AND t_orders.update_date &lt;=#{endTime}
	</if>
  	ORDER BY
		t_orders.update_date DESC
  	limit
		#{startNumber},#{endNumber}
  </select>
  <!-- 查询订单总数 -->
  <select id="selectOrdersCount" resultType="int">
  	SELECT
		count(t_orders.id)
	FROM
		t_orders
	WHERE 1=1
	<if test="userId != null and userId != ''">
		AND t_orders.user_id = #{userId}
	</if>
	<if test="companyId != null">
		AND t_orders.company_id = #{companyId}
	</if>
	<if test="orderId != null and orderId !='' ">
		AND t_orders.id like CONCAT ('%',#{orderId},'%')
	</if>
  	<if test="state != null">
		AND t_orders.status = #{state}
	</if>
	<if test="startTime != null">
		AND t_orders.update_date &gt;=#{startTime}
	</if>
	<if test="endTime != null">
		AND t_orders.update_date &lt;=#{endTime}
	</if>
  </select>
  <!-- 前台 -->
  <!-- 前台订单列表搜索 -->
  <select id="searchOrdersPc" resultMap="orderDaoResultMap">
  	SELECT
  	   tor.id, tor.user_id, 
  	   tor.company_id, tor.product_id, tor.car_id, 
  	   tor.configure, tor.configure_price, amount, 
       tor.take_location, tor.deliver_time, tor.customer,
       tor.customer_tel, tor.deposit, tor.status, tor.old_status,
       tor.pay_status,tor.cancel_reason,tor.message, tor.create_date, 
       tor.update_date, tor.resubmit, tor.count, tor.version,tor.take_way,tor.complete_time,tor.logistics_info, tor.premiums, 
       tor.car_price
  	FROM
  	    t_orders tor LEFT JOIN
		t_products tp  ON 
		tor.product_id = tp.products_id
  	WHERE 1=1
  	<if test="userId != null">
		AND tor.user_id = #{userId}
	</if>
	<if test="companyId != null">
		AND tor.company_id = #{companyId}
	</if>
	<if test="state != null and state != 0 and state != 222">
		AND tor.status = #{state}
	</if>
	<!-- 经销商账房“已退款筛选条件”状态码暂定222 -->
	<if test="state != null and state == 222">
		AND tor.pay_status IN (20,12)
	</if>
	<!-- 经销商账房“查看凭证筛选条件” -->
	<if test="state != null and state == 0">
		AND tor.status between 102 and 108
	</if>
  	<if test="searchTitle != null and searchTitle !=''">
		AND (tp.title like CONCAT ('%',#{searchTitle},'%') or tor.id like CONCAT ('%',#{searchTitle},'%'))
	</if>
  	ORDER BY
		tor.update_date DESC
  	limit
		#{startNumber},#{endNumber}
  </select>
  <!-- 查询订单总数 -->
  <select id="searchOrdersCountPc" resultType="int">
  	SELECT
		count(tor.id)
	FROM
		t_orders tor LEFT JOIN
		t_products tp ON
		tor.product_id = tp.products_id
	WHERE 1=1
	<if test="userId != null">
		AND tor.user_id = #{userId}
	</if>
	<if test="companyId != null">
		AND tor.company_id = #{companyId}
	</if>
	<if test="state != null and state != 0 and state != 222">
		AND tor.status = #{state}
	</if>
	<!-- 经销商账房“已退款筛选条件”状态码暂定222 -->
	<if test="state != null and state == 222">
		AND tor.pay_status IN (20,12)
	</if>
	<!-- 经销商账房“查看凭证筛选条件” -->
	<if test="state != null and state == 0">
		AND tor.status between 102 and 108
	</if>
	<!-- 我的订单根据产品标题搜索 -->
	<if test="searchTitle != null and searchTitle!=''">
		AND (tp.title like CONCAT ('%',#{searchTitle},'%') or tor.id like CONCAT ('%',#{searchTitle},'%'))
	</if>
  </select>
  
  <!-- 车辆品牌 -->
  <select id="getCarBrandName" resultType="String">
  	SELECT name FROM t_products_brand WHERE id = #{brandId}
  </select>

  <!-- 根据车架号查找车编号 -->
  <select id="getCarIdByCarNo" parameterType="String" resultType="java.lang.Long">
  	SELECT id FROM t_products_car WHERE car_no = #{carNo}
  </select>
  
  <!-- 查询供应商下的订单 -->
  <select id="searchSupplierOrdersPc" resultMap="orderDaoResultMap">
  	SELECT
  	   tor.id, tor.user_id, 
  	   tor.company_id, tor.product_id, tor.car_id, 
  	   tor.configure, tor.configure_price, amount, 
       tor.take_location, tor.deliver_time, tor.customer,
       tor.customer_tel, tor.deposit, tor.status, tor.old_status,
       tor.pay_status,tor.cancel_reason,tor.message, tor.create_date, 
       tor.update_date, tor.resubmit, tor.count, tor.version,tor.take_way,tor.complete_time,tor.logistics_info, tor.premiums, 
       tor.car_price
  	FROM
  	    t_orders tor LEFT JOIN
		t_products tp  ON 
		tor.product_id = tp.products_id
  	WHERE 1=1
	<if test="companyId != null">
		AND tor.company_id = #{companyId}
	</if>
	<if test="id != null" >
		AND tor.supplier_id = #{id}
	</if>
	<if test="state != null and state != 0 and state != 222">
		AND tor.status = #{state}
	</if>
	<!-- 经销商账房“已退款筛选条件”状态码暂定222 -->
	<if test="state != null and state == 222">
		AND tor.pay_status IN (20,12)
	</if>
	<!-- 经销商账房“查看凭证筛选条件” -->
	<if test="state != null and state == 0">
		AND tor.status between 102 and 108
	</if>
  	<if test="searchTitle != null and searchTitle !=''">
		AND (tp.title like CONCAT ('%',#{searchTitle},'%') or tor.id like CONCAT ('%',#{searchTitle},'%'))
	</if>
  	ORDER BY
		tor.update_date DESC
  	limit
		#{pageStartNumber},#{pageEndNumber}
  </select>
  
  <select id="searchSupplierOrdersPcCount" resultType="java.lang.Integer">
   	SELECT
  	 	count(*)
  	FROM
  	    t_orders tor LEFT JOIN
		t_products tp  ON 
		tor.product_id = tp.products_id
  	WHERE 1=1
	<if test="companyId != null">
		AND tor.company_id = #{companyId}
	</if>
	<if test="id != null" >
		AND tor.supplier_id = #{id}
	</if>
	<if test="state != null and state != 0 and state != 222">
		AND tor.status = #{state}
	</if>
	<!-- 经销商账房“已退款筛选条件”状态码暂定222 -->
	<if test="state != null and state == 222">
		AND tor.pay_status IN (20,12)
	</if>
	<!-- 经销商账房“查看凭证筛选条件” -->
	<if test="state != null and state == 0">
		AND tor.status between 102 and 108
	</if>
  	<if test="searchTitle != null and searchTitle !=''">
		AND (tp.title like CONCAT ('%',#{searchTitle},'%') or tor.id like CONCAT ('%',#{searchTitle},'%'))
	</if>
  </select>
  
</mapper>