<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>麦卡进口车-商品管理</title>
    #parse("/frame/public.vm")
    <link rel="stylesheet" href="$request.getContextPath()/res/vendors/jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
    
    <script type="text/javascript" src="$request.getContextPath()/res/vendors/bootstrap-fileinput/js/fileinput.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/res/vendors/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/res/js/common/jquery.fileinputUpload.common.js"></script>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <!-- 导航菜单部分 -->
        #parse("/frame/public_nav_panel.vm")

        <!-- top navigation -->
        #parse("frame/public_top_nav_panel.vm")
        <!-- /top navigation -->


        <!-- page content -->
        <div class="right_col" role="main">
            <div class="clearfix"></div>

            <div class="page-title">
                <div class="title_left">
                    
                    #if($productStatus == 1)
                     <h3>商品管理</h3>
                    #elseif($productStatus == 0)
                     <h3>草稿箱管理</h3>
                    #elseif($productStatus == 3)
                     <h3>回收站管理</h3>
                    #end
                    
                   
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    
                    <div class="x_panel">

                        <div class="x_title">
                            <h2>筛选条件</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form class="form-horizontal form-label-left" id="mem_search" action="#" novalidate>
                                <!--<div class="buttons">
                                    <a target="_blank" href="$request.getContextPath()/h/l/cms/tocreate/news" class="btn btn-warning"><i class="fa fa-plus"></i>&nbsp;发布新闻</a>
                                </div>-->
                                #if($productStatus == 1)
                                <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">产品状态：</label>
                                        <div class="btn-group" data-toggle="buttons" style="padding-left:10px;">
                                             <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="status" id="status1" value="" > 全部
                                            </label>
                                             <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="status" id="status2" value="1"> 未上架
                                            </label>
                                             <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="status" id="status3" value="2"> 已上架
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                 <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">推荐状态：</label>
                                        <div class="btn-group" data-toggle="buttons" style="padding-left:10px;">
                                             <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="recommend" id="status1" value="" > 全部
                                            </label>
                                             <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="recommend" id="status2" value="0"> 未推荐
                                            </label>
                                             <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="recommend" id="status3" value="1"> 已推荐
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                #end

                                <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">产品名称：</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <input type="text" name="title"  class="form-control col-md-3 col-xs-12">
                                            <input type="hidden" name="productStatus"  value="$productStatus">
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">产品ID：</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <input type="text" name="productsId"  class="form-control col-md-3 col-xs-12">
                                        </div>
                                    </div>
                                </div>

                    




                                <div class="row">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"></label>
                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                        <button type="button" class="btn btn-success" id="transfer_frmSearch"><i class="fa fa-search"></i>&nbsp;&nbsp;查 询</button>
                                        #if($productStatus == 1)
                                    	<button type="button" id="btn_create_product" class="btn btn-warning" ><i class="fa fa-plus"></i>&nbsp;新 增</button>
                                        #end
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel min_height_700">
                                <div class="x_title">
                                    #if($productStatus == 1)
                                     <h2>商品列表</h2>
                                    #elseif($productStatus == 0)
                                     <h2>草稿箱列表</h2>
                                    #elseif($productStatus == 3)
                                     <h2>回收站列表</h2>
                                    #end
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <table id="transfer_datatable"
                                      class="table table-hover table-striped  table-bordered   dt-responsive nowrap" style="width:100%;">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>商品名称</th>
                                            <th>自营类型</th>
                                            <th>产品状态</th>
                                            <th>价格</th>
                                            <!-- <th>库存</th>
                                            <th>总销量</th> -->
                                            <th>发布时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <section>
            
            <div id="editwin" class="modal fade uas-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" style="width:950px;">
                    <div class="modal-content" >

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myUASModalLabel">商品编辑</h4>
                        </div>
                        <div class="modal-body">

                            <form  id="form_user_role" action="#" class="form-horizontal form-label-left" method="POST" novalidate target="_blank">

                                   <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">*产品名称：</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <input type="text"  id="title" name="title"  required="required"  class="form-control col-md-3 col-xs-12"/>
                                            <input type="hidden" id="id" name="id"   value=""/>
                                            <input type="hidden" id="draft" name="draft"   value=""/>
                                            <input type="hidden" id="surplus" name="surplus"   value=""/>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row" id="shelvesMode">
                                    <div class="item form-group property">
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">*车辆品牌：<b></b></label>
                                          <div class="col-md-5 col-sm-6 col-xs-12">
                                            <select class="form-control" id="brandId" name="brandId" >
                                                 <option  value="">请选择</option> 
                                            </select>
                                          </div>
                                    </div>
                                </div>


                                  <div class="row">
                                    <div class="item form-group" >
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">*车辆类别：</label>
                                        <div class="btn-group" data-toggle="buttons" style="padding-left:10px;">
                                             <label class="btn btn-default active" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="carType" id="carType0" value="0" > 轿车
                                            </label>
                                             <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="carType" id="carType1" value="1" > SUV
                                            </label>
                                             <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="carType" id="carType2" value="2"> MPV
                                            </label>
                                              <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="carType" id="carType3" value="3"> 皮卡
                                            </label>
                                              <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="carType" id="carType4" value="4"> 卡车
                                            </label>
                                             <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="carType" id="carType4" value="5"> 跑车
                                            </label>
                                        </div>
                                    </div>
                                </div>


                               <div class="row">
                                    <div class="item form-group" >
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">*价格区间：</label>
                                        <div class="btn-group" data-toggle="buttons" style="padding-left:10px;">
                                             <label class="btn btn-default active" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="priceRange" id="priceRange1" value="0" > 50万以下
                                            </label>
                                             <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="priceRange" id="priceRange2" value="1" > 100万以下
                                            </label>
                                             <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="priceRange" id="priceRange3" value="2">  150万以下
                                            </label>
                                             <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="priceRange" id="priceRange4" value="3" > 150万以上
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                    <div class="row">
                                    <div class="item form-group" >
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">*车辆状态：</label>
                                        <div class="btn-group" data-toggle="buttons" style="padding-left:10px;">
                                             <label class="btn btn-default active" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="position" id="position0" value="0" > 港口现车
                                            </label>
                                             <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="position" id="position1" value="1" > 预定车
                                            </label>
                                             <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="radio" name="position" id="position2" value="2">  在途车
                                            </label>

                                        </div>
                                    </div>
                                </div>





                                <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">原产地：</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <input type="text"  id="country" name="country"  class="form-control col-md-3 col-xs-12"/>
                                        </div>
                                    </div>
                                </div>


                                  <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"><span class="required">*</span>定金比例(%)：</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <input type="text" id="deposit" name="deposit" required="required" class="form-control col-md-3 col-xs-12" maxLength="3" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')"/>
                                        </div>
                                    </div>
                                </div> 
                                
                                 <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">型号：</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <input type="text"  id="carModel" name="carModel"  class="form-control col-md-3 col-xs-12"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">车体外观颜色:</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <input type="text"  id="outColor" name="outColor"  class="form-control col-md-3 col-xs-12"/>
                                        </div>
                                    </div>
                                </div>

                                 <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">车身内部颜色:</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <input type="text"  id="inColor" name="inColor"  class="form-control col-md-3 col-xs-12"/>
                                        </div>
                                    </div>
                                </div>


                                 <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">发动机:</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <input type="text"  id="engine" name="engine"  class="form-control col-md-3 col-xs-12"/>
                                        </div>
                                    </div>
                                </div>
                                

                                 <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">变速箱:</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <input type="text"  id="gearbox" name="gearbox"  class="form-control col-md-3 col-xs-12"/>
                                        </div>
                                    </div>
                                </div>
                                    
                        		<div class="row">
								  <div class="item form-group">
								    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">*出厂时间:</label>
								        <div class="col-md-5 col-sm-6 col-xs-12">
								           <input id="startTimeFrame"   name="startTimeFrame" value="" type="hidden"  required="required">
								            <div id="factoryDate" class="form-control">
								                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
								                <span style="color:#555;">&nbsp;&nbsp;请选择时间范围&nbsp;</span>
								            </div>
								        </div>
								    </div>
								</div>




                               <div class="row">
                                <div class="item form-group">
                                <h4 class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">装配选择</h4>
                                </div>
                                </div>

                                   <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">基础配置：</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <input type="text"  id="basicConfigure" name="basicConfigure"  required="required"  class="form-control col-md-3 col-xs-12"/>
                                        </div>
                                    </div>
                                </div>

                                  <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">必选配置：</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <input type="text"  id="mustConfigure" name="mustConfigure"  required="required"  class="form-control col-md-3 col-xs-12"/>
                                        </div>
                                    </div>
                                </div>

                                  <div class="row" id="create_config">
                                   <!--  <div class="item form-group" configname="configname">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">可选配置：</label>
                                         <div class="col-md-7 col-sm-7 col-xs-9" >
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <input type="text" class="form-control glName" value="" name="conf_name" maxLength="20" placeholder="名称" />
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                 <input type="text" class="form-control glGx" value="" name="conf_price" maxLength="10" placeholder="价格（元）" />
                                                 </div>
                                                 <div class="col-md-4 col-sm-4 col-xs-4">
                                                
                                                  <button type="button" id="btn_create_config" class="btn btn-warning"  ><i class="fa fa-plus"></i>&nbsp;新 增</button>
                                                 </div> 
                                            </div>
                                           </div> 
                                    </div> -->

                                   </div>


                                <div class="row">
                                    <div class="item form-group">
                                         <h4 class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">价格与库存</h4>
                                     </div>
                                </div>
                                   

                                   <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"><span class="required">*</span>商品价格（元）：</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            
                                            <input type="text" id="carPrice" name="carPrice" required="required" class="form-control col-md-3 col-xs-12" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')"/>
                                             
                                        </div>
                                    </div>
                                </div>

                             
                                

                                 <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"><span class="required">*</span>必选总价（元）：</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <input type="text" id="mustConfigurePrice" name="mustConfigurePrice" required="required" class="form-control col-md-3 col-xs-12" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')"/>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"><span class="required">*</span>国内指导价（元）：</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <input type="text" id="chinaPrice" name="chinaPrice" required="required" class="form-control col-md-3 col-xs-12" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')"/>
                                        </div>
                                    </div>
                                </div>

                                  <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"><span class="required">*</span>库存：</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <input type="text" id="stock" name="stock" required="required" class="form-control col-md-3 col-xs-12" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')"/>
                                        </div>
                                    </div>
                                </div>         

                                 <div class="row">
                                    <div class="item form-group">
                                         <h4 class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">商品图文</h4>
                                     </div>
                                </div>

                                 <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"><span class="required">*</span>封面图片(一张)：</label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="file" id="indexImage" name=""  />
                                            <input type="hidden" id="indexImageH" name="indexImageH"  />
                                            <div>*建议上传图片尺寸250*180</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"><span class="required">*</span>缩略图(一张)：</label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="file" id="shrinkImage" name="shrinkImage"  />
                                            <input type="hidden" id="shrinkImageH" name="shrinkImageH"  />
                                        </div>
                                    </div>
                                </div>

                                 <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"><span class="required">*</span>推荐图(一张)：</label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input type="file" id="recommendImage" name="recommendImage"  />
                                            <input type="hidden" id="recommendImageH" name="recommendImageH"  />
                                        </div>
                                    </div>
                                </div>
                                
                              <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"><span class="required">*</span>详情展示图(多张)：</label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                           	<input type="file" id="detailedImage" name="detailedImage[]" multiple="true" /> 
                                            <input type="hidden" id="detailedImageH" name="detailedImageH"  />
                                            <input type="hidden" id="detailedImageOld" name="detailedImageOld"  />
                                            <div>*建议上传图片尺寸550*386</div>
                                        </div>
                                    </div>
                                </div>
                                

                          
                               <div class="row">	
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"><span class="required">*</span>产品正文：</label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <script type="text/plain" id="comContent" name="comContent" style=" height:300px;"></script>
                                        </div>
                                    </div>
                                </div>   

                            </form>

                        </div>
                        <div class="modal-footer" id="controlButton">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="updateClose">关闭</button>
                            <button type="button" id="draft_save" class="btn btn-info ">保存到草稿箱</button>
                            <button type="button" id="btn_submit" class="btn btn-primary">提交</button>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section>
            <div id="carNoList" class="modal fade uas-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" style="width:800px;">
                    <div class="modal-content" >

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myUASModalLabel">车架号</h4>
                        </div>     
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel"> 

                                 <div class="x_content">
                                    <table id="transfer_datatable"
                                      class="table table-hover table-striped  table-bordered   dt-responsive nowrap" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>车架号</th>
                                                <th>状态</th>
                                                <th>操作时间</th>  
                                            </tr>
                                         </thead>
                                        <tbody id= "carNoBody">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    </div>
                </div>
            </div>
        </section>  

        <!-- 产品审核 -->
        <section>
            <div class="modal fade auditor-modal-lg " id="checkProduct" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" style="width:900px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title" id="cancelOrder">商品审核</h4>
                            </div>
                            <div class="modal-body">
                                <form  action="#" class="form-horizontal form-label-left" method="POST" >
                                    <div class="row">
                                      <div class="item form-group">
                                        <div id="gender" class="btn-group col-md-10 col-sm-6 col-xs-12" data-toggle="buttons">
                                            <label id="yesCancel" class="btn btn-default active" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input id="cancelYes" type="radio" name="auditchk" checked value="1"> 审核通过
                                            </label>
                                            <label id="noCancel" class="btn btn-default " data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input id="cancelNo" type="radio" name="auditchk"  value="2"> 审核未通过
                                            </label>
                                           </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:10px;">
                                        <div class="item form-group">
                                            <div class="col-md-12 col-sm-6 col-xs-12">
                                                <textarea id="auditReason" name="cancelReason" placeholder="理由" rows="10" style="outline:none;resize:none;" class="form-control" maxlength="500"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="productId"  value=""/>
                                 </form>
                            </div>
                           
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" id="btn_audit_submit" class="btn btn-primary"  data-id="" >保  存</button>
                            </div>
                        </div>
                     </div>
                </div> 
            </section>  
            
            
            <!-- 审核意见 -->
            <section>
            	    <div class="modal fade uas-modal-lg" tabindex="-1"  id="findReasons" role="dialog" aria-hidden="true">
                <div class="modal-dialog" style="width:900px">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myUASModalLabel">审核意见</h4>
                        </div>
                        <div class="modal-body">

                            <form  id="form_audit" action="#" class="form-horizontal form-label-left" method="POST" novalidate>
                                <div class="row">
                                    <div class="item form-group">
                                        <div class="col-md-12 col-sm-6 col-xs-12">
                                        	<input type="hidden"  name="id" id="auditId" />
                                        	<input type="hidden"  name="result" value="1" />
                                            <textarea id="audit_info" class="form-control" readOnly="readOnly" rows="10" required="required" style="outline:none;resize:none;" maxlength="256" name="info"></textarea> 
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>

                    </div>
                </div>
            </div>
            </section>
            
            
            <section>
               <div id="productMarkup" class="modal fade uas-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" style="width:950px;">
                    <div class="modal-content" >
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="distinguish">商品加价</h4>
                        </div>
                    
                         <div class="modal-body">
                             <form  id="form_sysConfig_upgrade" action="#" class="form-horizontal form-label-left" method="POST" novalidate target="_blank">
                         
                   
                              
                              
                                   <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"><span class="required">*</span>商品加价（个人）：</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                             <div class="input-group">
                                                <input type="hidden" id="productMarkupId" name="productMarkupId" />
                                                <input type="hidden" id="productMarkupInfo" name="productMarkupInfo" />
                                                <input type="hidden" id="productMarkupState" name="productMarkupState" />
                                                <input type="text" id="personal" name="personal" required="required" class="form-control col-md-3 col-xs-12" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')"/>
                                                <div class="input-group-addon">元</div>
                                             </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"><span class="required">*</span>商品加价（销售）：</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                              <div class="input-group">
                                                <input type="text" id="sales" name="sales" required="required" class="form-control col-md-3 col-xs-12" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')"/>
                                               <div class="input-group-addon">元</div>
                                             </div>
                                        </div>
                                    </div>
                                </div>

                           

                                    <div class="row">
                                    <div class="item form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name"><span class="required">*</span>商品加价（经销商）：</label>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <div class="input-group">
                                            <input type="text" id="distributor" name="distributor" required="required" class="form-control col-md-3 col-xs-12" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')"/>
                                              <div class="input-group-addon">元</div>
                                             </div>
                                        </div>
                                    </div>
                                </div>

                            </from>
                            
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="updateClose">关闭</button>
                            <button type="button" id="productMarkup_btn_submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </div>
            </div>   
            
            <!-- /主体内容部分 -->
            </section>
            
        <!-- /page content -->
        
        

        <!-- footer content -->
        #parse("/frame/footer.vm")
        <!-- /footer content -->
    </div>
</div>

#parse("/frame/footer_resouce.vm")

<script type="text/javascript" src="$request.getContextPath()/res/appjs/productView.js"></script>
<script type="text/javascript" src="$request.getContextPath()/res/appjs/productView_validate.js"></script>
<script type="text/javascript" src="$request.getContextPath()/res/js/common/jquery.time.plugin.js"></script>



<script type="text/javascript">
   	var ue=UE.getEditor('comContent',{
   		autoHeightEnabled: false  //自动适应高度
   		,initialFrameHeight : 360 //编辑器高度，默认320
   	});
   	var tp = new timePlugins("startTimeFrame","","factoryDate");
	tp.init(true);
</script>


</body>
</html>
