<!DOCTYPE html>
<html>
<head>
    <!--meta-->
	    #parse("/frame/meta.vm")
	<!--meta-->
    <title>麦卡进口车-找回密码</title>
    <link rel="stylesheet" href="$request.getContextPath()/res/css/style.css">
    <link rel="stylesheet" href="$request.getContextPath()/res/css/find_password.css">
</head>
<body>
    #parse("/frame/header.vm")
	<div class="register_min" id="minbg">
		<div class="register_pwd">
			 	
				<div class="psw_rage">
			 	   <h6>找回密码</h6>
				 	  <ul>
				 	  	<li><input type="text" placeholder="请输入注册时填写的联系人手机号" id="phone" maxlength="11"><p class="phonetips"></p></li>
				 	  	<li><input type="text" placeholder="请输入图片上数字"  class="ipt_txt" id="picyzm" maxlength="6">
				 	  		<img src="$request.getContextPath()/h/n/user/codeForget" alt="" id="img_code" onclick="javascript:imgclick();">
				 	  		<span onclick="javascript:imgclick();" id="nextpic">换一张</span>
				 	  		<p class="picyzmtips"></p>
				 	  	</li>
				 	  	<li><input type="text" placeholder="6位数字验证码" class="ipt_txt" id="mathyzm" maxlength="6"><div class="getcode"  id="getcode">获取验证码</div> <p class="mathyzmtips"></p></li>
				 	  	<li><input type="button" value="下一步" id="button_next"></li>
				 	  </ul>
			 	 </div>
                 <div class="psw_rege2">
                 	  <h6>找回密码</h6>
  				 	  <ul>
  				 	  	<li><input type="password" onpaste="return false" placeholder="请输入6-10位新密码" id="psw_new" maxlength="10"> <p class="newpsw_tips"></p></li>
  				 	  	<li><input type="password" onpaste="return false" placeholder="请再次输入6-10位新密码" id="psw_two" maxlength="10"><p class="newpsw_tips2"></p></li>
  				 	  	<li><input type="button" value="确定" id="sure_btn"></li>
  				 	  </ul>
                  </div> 
                   
                 <div class="psw_tips">
                 	   <h6>提示</h6>
                       <div class="tips"><i></i><p id="tips_jump"></p></div>
                       <a href="$request.getContextPath()/h/n/user/login">我知道了</a>
                 </div> 
		</div>
	</div>
	#parse("/frame/base.vm")

    <script type="text/javascript" src="$request.getContextPath()/res/js/plug/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="$request.getContextPath()/res/js/plug/jquery.validate.min.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/res/js/plug/jquery.validate.form.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/res/js/plug/jquery.validate.zh.js"></script>
    <script type="text/javascript" src="$request.getContextPath()/res/appjs/find_password.js"></script>
</body>
</html>