<!DOCTYPE html>
<html>
<head>
    <!--meta-->
	    #parse("/frame/meta.vm")
	<!--meta-->
    <title>麦卡进口车-登录</title>
    <link rel="stylesheet" href="$request.getContextPath()/res/css/style.css">
    <link rel="stylesheet" href="$request.getContextPath()/res/css/reset_password.css">
</head>
<body>
    #parse("/frame/header.vm")
	 <div class="main_box">
    <div class="top">
      <img src="$request.getContextPath()/res/images/pass_icon.png" alt="">
      <span>为了您的账号安全，请修改登录密码！</span>
    </div>
    <div class="center">
      <span>修改密码</span>
    </div>
    <form action="" id="register_form">
      <ul class="new_box">
        <li>
          <span class="lt">新密码</span>
          <input type="password" onpaste="return false" class="pas01 rt" name="password" id="password" placeholder="请输入6-10位密码"/>
        </li>
        <li>
          <span class="lt">确认新密码</span>
          <input type="password" onpaste="return false" class="pas02 rt" name="repassword" placeholder="再次输入密码"/>
        </li>
        <li>
          <input type="submit" value="确定" class="submit" />
        </li>
      </ul>
    </form>
    <div class="boom"></div>
    <div class="Errors">
		<h4>提示</h4>
		<span> </span>
		<div class="delBtn">确认</div>
	</div>
  </div>
	#parse("/frame/base.vm")
    <script type="text/javascript" src="$request.getContextPath()/res/js/base/jquery.min.js"></script>
    <script type="text/javascript" src="$request.getContextPath()/res/appjs/reset_password.js"></script>
    <script type="text/javascript" src="$request.getContextPath()/res/js/plug/jquery.validate.min.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/res/js/plug/jquery.validate.form.js"></script>
</body>
</html>